.MainDashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 1rem;

}
.MainDashboard h1{
    color: black !important;
    font-size: 2rem;
    font-weight: bold;
}