.App {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 90.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 18rem auto 22rem;
  column-gap: 2rem;
}
