
.CompactCard{
    display: flex;
    flex:1;
    height: 9rem !important;
    border-radius: .7rem;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    
}
.CompactCard:hover{
    box-shadow: none !important;

}
.RadialBar{
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.CircularProgressbar{
    width: 5rem !important;
    overflow: visible;
}
.CircularProgressbar-path{
    stroke: white!important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail{
    display: none;
}
.CircularProgressbar-text{
    fill: white !important;
}
.RadialBar>span{
    font-size: 17px;
    font-weight: bold;

=======
.CompactCard {
  display: flex;
  flex: 1;
  height: 20vh;
  width: 18vw;
  border-radius: 0.7rem;
  color: white;
  position: relative;
  cursor: pointer;
  padding: 1rem;
}
.CompactCard:hover {
  box-shadow: none !important;
}
.RadialBar {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}
.CircularProgressbar-path {
  stroke: white !important;
  stroke-width: 12px !important;
  filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail {
  display: none;
}
.CircularProgressbar-text {
  fill: white !important;
}
.RadialBar > span {
  font-size: 17px;
  font-weight: bold;

}

/* Details */
.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.detail > span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}
.detail > span:nth-child(3) {
  font-size: 12px;
}
